<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296337442652-mqeep803oth0d2n19stgveagjv6cn4e6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296337442652-mqeep803oth0d2n19stgveagjv6cn4e6</string>
	<key>API_KEY</key>
	<string>AIzaSyCcONEx1cJoYSD-jC03ETM7ZBzPD2xMHzY</string>
	<key>GCM_SENDER_ID</key>
	<string>296337442652</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verumFlutter</string>
	<key>PROJECT_ID</key>
	<string>verum-d3504</string>
	<key>STORAGE_BUCKET</key>
	<string>verum-d3504.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296337442652:ios:d4ec7776adb34fcb60a399</string>
</dict>
</plist>